<html>
<head>
  <title>Web Socket service</title>
  <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
  <% if @use_polyfill %>
    <script type="text/javascript" src="<%= @assets_url %>/pf/swfobject.js"></script>
    <script type="text/javascript" src="<%= @assets_url %>/pf/web_socket.js"></script>
  <% end %>
  <script type="text/javascript" src="<%= @assets_url %>/js/broker.js"></script>
</head>
<body>
:-)
<script>
  WEB_SOCKET_SWF_LOCATION = "/pf/WebSocketMain.swf";
  broker = new Broker('ws', "<%= @ws_server_url %>");
</script>
</body>
</html>
